<div id="banner">
  <div class="banner-inner">
    <span id="logo"><span class="octicon octicon-mark-github"></span></span>

    <a href="https://github.com/melindahiggins2000/" class="button fork"><strong>Me On GitHub</strong></a>
    <div class="downloads">
      <span>Pages:</span>
      <ul>
        <li><a href="http://melindahiggins2000.github.io/sasuniv2/" class="button">SASUniv</a></li>
        <li><a href="http://melindahiggins2000.github.io/blog/" class="button">My Blog</a></li>
        <li><a href="http://madebygraham.com/leapday/" class="button">Leapday</a></li>
      </ul>
    </div>
  </div>
</div>
