<div id="banner">
  <div class="banner-inner">
    <span id="logo"><span class="octicon octicon-mark-github"></span></span>
    <span>Me @</span>
    <a href="https://github.com/melindahiggins2000/" class="button fork"><strong>GitHub</strong></a>
    <a href="https://twitter.com/mhiggins2000" class="button fork"><strong>Twitter</strong></a>
    <a href="http://melindahiggins2000.github.io/blog/" class="button">My Blog</a></li>
    <div class="downloads">
      <span>Theme:</span>
      <ul>
        <li><a href="http://madebygraham.com/leapday/" class="button">Leapday</a></li>
      </ul>
    </div>
  </div>
</div>
