{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}

  <section>
    <h1>Info on SAS University</h1>
    <p> SAS University Edition is a FREE version of SAS that you can download, install and run for FREE. Please take a look at the following files to get you started:</p>
    <h2>Setup Instructions</h2>
    	<ul>
	<li><a href="https://melindahiggins2000.github.io/sasuniv/SASUnivSetup_mkh.pdf">SASUnivSetup_mkh.pdf</a> - Setup Instructions Including Some Examples to get you up and running</li>
	</ul>
    <h2>SAS Program Code Example</h2>
    	<ul>
	<li><a href="https://melindahiggins2000.github.io/sasuniv/mkh1.sas">mkh1.sas</a> - the initial SAS program to download and use to run the examples</li>
	</ul>
    <h2>Example Dataset</h2>
	<ul>
	<li><a href="https://melindahiggins2000.github.io/sasuniv/AgeOrionsData.sas7bdat">AgeOrionsData.sas7bdat</a> - the example dataset used - download to run the example program</li>
	</ul>
<p> Let me know if you have any questions :-) Melinda Higgins
Contact <a href="mailto:melinda.higgins@emory.edu">mailto:melinda.higgins@emory.edu</a>
</p>
    

    </section>

	{{ content }}

{% include footer.html %}
