{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}

  <section>
    <h1>Info on SAS University</h1>
    <p> SAS University Edition is a FREE version of SAS that you can download, install and run for FREE.</p>
    <h2>SAS University</h2>
    <p>SAS University is a free version of SAS which run through a "virtual machine" (Oracle VM Virtual Box). This "virtual machine" creates the environment within which the SAS University application runs. This application of SAS is MUCH MORE USER FRIENDLY with GUI's (graphical user interface) with pull down menus. The interface is analogous to the menu driven interface of SPSS. However, within these SAS University menus you can easily select variables and specify SAS options on the fly without having to dig through the SAS help system! Similar to SPSS, once the menus are configured with your variable selections and options for the procedure you've selected, the SAS code is written and COMMENTED for you ON THE FLY. This is a conderful was to learn SAS.</p>
    <p>That said, admittedly setting up SAS University does require some time and effort to set-up and once set-up and running it does run slower than fully licensed SAS that you pay for. But SAS University is FREE and full featured. Not all SAS functions are easily available through the menu system, but nearly all SAS functions can still be called from the SAS program window as usual.</p>
    <p>I have created a short tutorial at my <a href="https://melindahiggins2000.github.io/sasuniv2/">SAS University project page.</a></p>
    <p>You can learn more at <a href="http://www.sas.com/en_us/software/university-edition.html">SAS University</a></p>
    <hr>
    <p></p>Please take a look at the following files to get you started:</p>
    <h2>Setup Instructions</h2>
    	<ul>
	<li><a href="https://melindahiggins2000.github.io/sasuniv/SASUnivSetup_mkh.pdf">SASUnivSetup_mkh.pdf</a> - Setup Instructions Including Some Examples to get you up and running</li>
	</ul>
    <h2>SAS Program Code Example</h2>
    	<ul>
	<li><a href="https://melindahiggins2000.github.io/sasuniv/mkh1.sas">mkh1.sas</a> - the initial SAS program to download and use to run the examples</li>
	</ul>
    <h2>Example Dataset</h2>
	<ul>
	<li><a href="https://melindahiggins2000.github.io/sasuniv/AgeOrionsData.sas7bdat">AgeOrionsData.sas7bdat</a> - the example dataset used - download to run the example program</li>
	</ul>
<p> Let me know if you have any questions :-) Melinda Higgins
Contact <a href="mailto:melinda.higgins@emory.edu">mailto:melinda.higgins@emory.edu</a>
</p>
    

    </section>

	{{ content }}

{% include footer.html %}
